<% include header %>

<div class="container-fluid">
    <div class="row">
        <div id="info" class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div id="header" class="info-section no-separator col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0">
                <div id="alerts">
                    <div id="error" class="alert alert-warning" role="alert">There was an error... try again?</div>
                    <div id="auth-no" class="alert alert-warning" role="alert">Wrong password, try again?</div>
                </div>
            </div>
            <div id="rsvp-form" class="info-section no-separator col-xs-12">
                <div id="find-name" class="form-inline col-xs-12">
                    <div class="form-group col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                        <div class="input-group col-xs-12">
                            <span class="input-group-addon">Password</span>
                            <input id="password" class="form-control input-lg" type="text" name="password">
                        </div>
                    </div>
                </div>
                <div id="btn-container" class="col-xs-10 col-xs-offset-1 pull-right">
                    <button id="submit-btn" class="btn btn-warning">Let me in!</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="rsvp-table" class="rsvp-table" style="display: none;"></div>
        </div>
    </div>
</div>

<button id="refresh" class="btn btn-large btn-warning" title="Refresh"><span class="glyphicon glyphicon-refresh"></span></button>

<script type="text/javascript" src="js/admin.js"></script>

<% include footer %>