<% include header %>

<div class="container-fluid">
    <div class="row">
        <div class="contents col-xs-10 col-xs-offset-1">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <h1>Admin</h1>
                <div class="col-xs-4">
                    <div id="rsvp-yes" class="alert alert-success" role="alert">Yes, these people are coming!</div>
                    <div id="rsvp-yes-table"></div>
                </div>
                <div class="col-xs-4">
                    <div id="rsvp-no" class="alert alert-danger" role="alert">No, these people are not...</div>
                    <div id="rsvp-no-table"></div>
                </div>
                <div class="col-xs-4">
                    <div id="rsvp-null" class="alert alert-warning" role="alert">Not responded.</div>
                    <div id="rsvp-null-table"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>