/* Admin page */

$teal-most-trans: rgba(10, 87, 123, 0.1);
$orange-trans: rgba(242, 116, 66, 0.8);

body {
    @media(min-width: 768px) {
        background-size: cover;
    }
    
    @media(min-width: 992px) {
        background-size: 180%;
    }
}

#info {
    padding: 30px;
}

.rsvp-table {
    display: inline-block;
    width: 100%;
    background-color: white;
    border: 1px solid $teal-light;
    border-radius: 10px;
    
    .rsvp-column {
        width: 33%;
        height: 500px;
        float: left;
        border: 0px solid $teal-light;
        border-left-width: 1px;
        
        &:first-of-type {
            width: 34%;
            border-left-width: 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            
            .rsvp-header {
                border-top-left-radius: 10px;
            }
        }
        
        &:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            
            .rsvp-header {
                border-top-right-radius: 10px;
            }
        }
        
        .rsvp-header {
            height: 40px;
            padding: 0px 10px;
            line-height: 40px;
            font-size: 14pt;
            
            .badge {
                margin-top: 11px;
            }
        }
        
        .rsvp-body {
            overflow: scroll;
            height: 460px;
        }
        
        .rsvp-guest {
            height: 30px;
            padding: 0px 5px;
            line-height: 30px;
            background-color: white;

            &:nth-child(odd) {
                background-color: $teal-most-trans;
            }

            &:hover {
                background-color: $orange-trans;
                color: white;
            }
            
            .glyphicon {
                float: right;
                margin-top: 7px;
                margin-left: 5px;
                
                &:hover {
                    color: $teal-light;
                }
                
                &.empty {
                    visibility: hidden;
                }
            }
            
            .popover {
                color: $teal !important;
                
                h3.popover-title {
                    font-family: "BoosterNextFY", Helvetica, Arial, "Lucida Grande", sans-serif;
                    font-weight: 700;
                    font-size: 13pt;
                    text-align: center;
                }
            }
        }
    }
    
    @media(max-width: 991px) {
        border-width: 0px 1px;
        
        .rsvp-column {
            width: 100%;
            height: 300px;
            border-left-width: 0px;
            
            &:first-of-type {
                width: 100%;
            }
            
            .rsvp-header {
                border-top: 1px solid $teal-light;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            
            .rsvp-body {
                height: 260px;
            }
        }
    }
}

.alert-success {
    .badge {
        border-color: #dff0d8;
        color: #d6e9c6;
        color: white;
        background-color: #3c763d;
    }
}

.alert-danger {
    .badge {
        border-color: #f2dede;
        color: #ebccd1;
        color: white;
        background-color: #a94442;
    }
}

.alert-warning {
    .badge {
        border-color: #fcf8e3;
        color: #faebcc;
        color: white;
        backgroundcolor: #8a6d3b;
    }
}
