body { min-height: 100vh; background-image: url("../images/flowers-left.png"), url("../images/flowers-right.png"); background-repeat: no-repeat, no-repeat; background-position: left top, right top; background-size: 33%, 28%; }
@media (min-width: 768px) { body { background-image: url("../images/AJ183-md.jpg"); background-repeat: no-repeat; background-position: center; background-size: 150%; } }
@media (min-width: 992px) { body { background-image: url("../images/AJ183-lg.jpg"); } }
@media (min-width: 1200px) { body { background-image: url("../images/AJ183-lg.jpg"); } }

.info-section::after { margin-top: 0px; }

@media (min-width: 768px) { #info { background-color: white; margin-top: 60px; margin-bottom: 60px; border-radius: 16px; padding-top: 30px; padding-bottom: 30px; } }

#header { height: 160px; }
@media (min-width: 768px) { #header { height: 120px; padding-top: 0px; } }
#header::after { margin: 0px auto; }
#header #alerts { min-height: 80px; }
#header #alerts .alert { display: none; }
#header #alerts .alert.alert-warning { background-color: #f8d1c4; border-color: #f79674; color: #d25a3a; }
#header #alerts .alert.alert-info { background-color: #e5b5d4; border-color: #e38ea7; color: #ba3166; }
#header #alerts .alert.alert-success { background-color: rgba(103, 202, 222, 0.8); border-color: #027e8d; color: #023e5a; }
#header #alerts .alert.alert-success a { color: white; }

#thanks-image { display: none; }
#thanks-image img { width: 100%; height: auto; }

#rsvp-form { padding-top: 10px; }
#rsvp-form #find-name .input-group { margin-bottom: 15px; }
#rsvp-form #btn-container { margin-top: 20px; }
#rsvp-form #btn-container button { float: right; clear: right; }

#edit-rsvp #rsvp-list { margin-bottom: 20px; }
#edit-rsvp #rsvp-list label.control-label { line-height: 34px; margin-bottom: 0px; }
@media (min-width: 992px) { #edit-rsvp #rsvp-list label.control-label { text-align: right; } }
#edit-rsvp #rsvp-list select { float: right; }
#edit-rsvp #rsvp-list input[type="radio"] { margin-right: 5px; }
#edit-rsvp .input-group { margin-top: 15px; }
#edit-rsvp .disabled .input-group-addon { background-color: #ddd; }
#edit-rsvp .disabled input { background-color: #ddd; }

.btn-warning { background-color: #f79674; border-color: #d25a3a; }
.btn-warning:hover, .btn-warning:focus { background-color: #d25a3a; }

.btn-info { background-color: #e38ea7; border-color: #ba3166; }
.btn-info:hover, .btn-info:focus { background-color: #ba3166; }

.btn-success { background-color: #027e8d; border-color: #023e5a; }
.btn-success:hover, .btn-success:focus { background-color: #023e5a; }

.form-inline .form-group .input-group .input-group-addon { color: #0a577b; background-color: #f5f5f5; border-color: #0E79AB; font-weight: bold; }
.form-inline .form-group .input-group .input-group-addon.input-glyphicon { width: 30px; }
.form-inline .form-group .input-group .input-group-addon.input-glyphicon .glyphicon { font-size: 16px; }
.form-inline .form-group .input-group input { border-color: #0E79AB; }

p#questions { margin-top: 20px; color: #0E79AB; text-align: center; font-size: 10pt; }

/* Admin page */
#info { padding: 30px; }

.rsvp-table { display: inline-block; width: 100%; background-color: white; border: 1px solid #0E79AB; border-radius: 10px; }
.rsvp-table .rsvp-column { width: 33%; height: 500px; float: left; border: 0px solid #0E79AB; border-left-width: 1px; }
.rsvp-table .rsvp-column:first-of-type { width: 34%; border-left-width: 0px; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.rsvp-table .rsvp-column:first-of-type .rsvp-header { border-top-left-radius: 10px; }
.rsvp-table .rsvp-column:last-of-type { border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.rsvp-table .rsvp-column:last-of-type .rsvp-header { border-top-right-radius: 10px; }
.rsvp-table .rsvp-column .rsvp-header { height: 40px; padding: 0px 10px; line-height: 40px; font-size: 14pt; }
.rsvp-table .rsvp-column .rsvp-header .badge { margin-top: 11px; }
.rsvp-table .rsvp-column .rsvp-body { overflow: scroll; height: 460px; }
.rsvp-table .rsvp-column .rsvp-guest { height: 30px; padding: 0px 5px; line-height: 30px; background-color: white; }
.rsvp-table .rsvp-column .rsvp-guest:nth-child(odd) { background-color: rgba(10, 87, 123, 0.1); }
.rsvp-table .rsvp-column .rsvp-guest:hover { background-color: rgba(242, 116, 66, 0.8); color: white; }
.rsvp-table .rsvp-column .rsvp-guest .glyphicon { float: right; margin-top: 7px; margin-left: 5px; }
.rsvp-table .rsvp-column .rsvp-guest .glyphicon:hover { color: #0E79AB; }
.rsvp-table .rsvp-column .rsvp-guest .glyphicon.empty { visibility: hidden; }
.rsvp-table .rsvp-column .rsvp-guest .popover { color: #0a577b !important; }
.rsvp-table .rsvp-column .rsvp-guest .popover h3.popover-title { font-family: "BoosterNextFY", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 700; font-size: 13pt; text-align: center; }
@media (max-width: 991px) { .rsvp-table { border-width: 0px 1px; }
  .rsvp-table .rsvp-column { width: 100%; height: 300px; border-left-width: 0px; }
  .rsvp-table .rsvp-column:first-of-type { width: 100%; }
  .rsvp-table .rsvp-column .rsvp-header { border-top: 1px solid #0E79AB; border-top-left-radius: 10px; border-top-right-radius: 10px; }
  .rsvp-table .rsvp-column .rsvp-body { height: 260px; } }

.alert-success .badge { border-color: #dff0d8; color: #d6e9c6; color: white; background-color: #3c763d; }

.alert-danger .badge { border-color: #f2dede; color: #ebccd1; color: white; background-color: #a94442; }

.alert-warning .badge { border-color: #fcf8e3; color: #faebcc; color: white; backgroundcolor: #8a6d3b; }
