// from joshandaliisa.com
$teal: rgb(10, 87, 123); // #0a577b
$teal-light: #0E79AB; // #0a577b
$teal-lightest: #4694B9; // #0a577b
$teal-trans: rgba(10, 87, 123, 0.8);
$orange: rgb(242, 116, 66); // #f27442

// rsvp colors
$teal-bg-dark: rgb(2, 62, 90);
$teal-bg: rgb(2, 126, 141);
$teal-bg-lite: rgb(103, 202, 222);
$rorange-dark: rgb(210, 90, 58);
$rorange: rgb(247, 150, 116);
$rorange-lite: rgb(248, 209, 196);
$pink-dark: rgb(186, 49, 102);
$pink: rgb(227, 142, 167);
$pink-lite: rgb(229, 181, 212);
$yellow-dark: rgb(0, 149, 77);
$yellow: rgb(243, 209, 45);
$yellow-lite: rgb(248, 244, 176);

body {
    min-height: 100vh;
    background-image: url('../images/flowers-left.png'), url('../images/flowers-right.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right top;
    background-size: 33%, 28%;
    
    @media (min-width: 768px) {
        background-image: url('../images/AJ183-md.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 150%;
    } 
    
    @media (min-width: 992px) {
        background-image: url('../images/AJ183-lg.jpg');    
    }
    
    @media (min-width: 1200px) {
        background-image: url('../images/AJ183-lg.jpg');
    }
}

.info-section {
    &::after {
        margin-top: 0px;
    }
}

#info {
    @media (min-width: 768px) {
        background-color: white;
        margin-top: 60px;
        margin-bottom: 60px;
        border-radius: 16px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#header {
    height: 160px;
    
    @media (min-width: 768px) {
        height: 120px;
        padding-top: 0px;
    }
    
    &::after {
        margin: 0px auto;
    }
    
    #alerts {
        min-height: 80px;

        .alert {
            display: none;

            // an alert that requires action
            &.alert-warning {
                background-color: $rorange-lite;
                border-color: $rorange;
                color: $rorange-dark;
            }

            &.alert-info {
                background-color: $pink-lite;
                border-color: $pink;
                color: $pink-dark;
            }

            &.alert-success {
                background-color: $teal-bg-lite;
                border-color: $teal-bg;
                color: $teal-bg-dark;
                a {
                    color: white;
                }
            }
        }
    }
}

#thanks-image {
    display: none;
    
    img {
        width: 100%;
        height: auto;
    }
}

#rsvp-form {
    padding-top: 10px;
    
    #find-name {
        .form-group {
            margin-bottom: 15px;
            
            label {
                text-align: right;
            }
            
            input {
                padding: 1px;
                max-width: 200px;
            }
        }
    }
    
    #btn-container {
        margin-top: 20px;
        
        button {
            float: right;
            clear: right;
        }
    }
}

#edit-rsvp {
    #rsvp-list {
        margin-bottom: 20px;
        
        select {
            float: right;
            max-width: 300px;
        }
        
        input[type="radio"] {
            margin-right: 5px;
        }
    }
    
    textarea {
        padding: 2px;
        margin-top: 15px;
        margin-bottom: 0px;
    .disabled {
        .input-group-addon {
            background-color: #ddd;
        }
        
        input {
            background-color: #ddd;
        }
    }
}

.btn-warning {
    background-color: $rorange;
    border-color: $rorange-dark;
    
    &:hover, &:focus {
        background-color: $rorange-dark;
    }
}

.btn-info {
    background-color: $pink;
    border-color: $pink-dark;
    
    &:hover, &:focus {
        background-color: $pink-dark;
    }
}

.btn-success {
    background-color: $teal-bg;
    border-color: $teal-bg-dark;
    
    &:hover, &:focus {
        background-color: $teal-bg-dark;
    }
}

p#questions {
    margin-top: 20px;
    color: $teal-light;
    text-align: center;
    font-size: 10pt;
}

/* Admin page */

.guest {
    height: 40px;
    padding: 5px;
    line-height: 40px;
    background-color: white;
    
    &:nth-child(even) {
        background-color: $teal-trans;
    }
    
    &:hover {
        background-color: teal;
        color: white;
    }
}
